body{
    padding: 0;
    margin: 0;
}

.logo{
    z-index: 12;
    display: flex;
    position: absolute;
    top: 1.6em;
    left: 4.5em;
}

.top_wrapper{
    max-width: 1366px;
}

.title_box{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: #e7d6c6;
}

.title_content{
    display: flex;
    z-index: 12;
    max-width: 550px;
    position: relative;
}

.title_field{
    width: 600px;
    display: flex;
    position: absolute;
    top: 7.75em;
    left: 4.5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    width: 560px;
}
.title h1 {
    z-index: 10;
    font-family: Merriweather;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 66px;
    color: #333;
    margin: 0 5px;
}
.title h1:last-child{
    margin-top: -20px;
    text-align: center;
}
.post_title{
    font-family: "Golos Text", sans-serif;
    width: 500px;
    text-align: center;
    font-size: 18px;
    line-height: 23.4px;
    font-weight: 400;
    margin-top: 24px;
}

.buttons{
    width: 542px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.buttons button{
    display: block;
    box-sizing: border-box;
    width: 263px;
    padding: 10px 50px; 
    border: 2px solid black;
    border-radius: 66px;
    font-family: Golos Text;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    text-align: center;
}
.support button{
    background-color: black;
    color: white;
}
.tournament_info button{
    background-color: transparent;
}


.background {
    position: relative;
    width: 100%;
    height: 700px;
}

.background_element {
    position: absolute;
    height: auto;
    bottom: 0;
    left: 20%;
}

.texture{
    opacity: 20%;
    z-index: 1;
    transform: translate(-30%) scale(1.4);
}

/*-Animation of a running line on a circle-*/
@keyframes rotate {
    from {
        transform: translate(22em, 0em) rotate(0deg);
    }
    to {
        transform: translate(22em, 0em) rotate(360deg);
    }
}
.circle {
    width: 50em;
    transform: translate(22em, 0em);
    animation: rotate 50s linear infinite;
}
.city{
    transform: translate(-6em, 17em);
    z-index: 9;
}
.border{
    transform: translate(-23.4em, 0.1em);
    z-index: 9;
}
.horse{
    z-index: 9;
    transform: translate(36em, 0.1em);
}
.pawn{
    z-index: 9;
    transform: translate(61em, -1em);
}

/*-----------Animation for queen-----------*/
@keyframes queen-rise{
    from{
        transform: translate(29.5em, -10em) rotate(-90deg);
    }
    to{
        transform: translate(29.5em, -10em) rotate(0deg);
    }
}
.queen{
    transform: translate(29.5em, -10em) rotate(-90deg);
    transform-origin: bottom center;
    animation: queen-rise 1s ease-out forwards;
    z-index: 0;
}


/*-----------Animation for ches-----------*/
@keyframes chess-rise{
    from{
        transform: translate(50.5em, -17em) rotate(90deg);
    }
    to{
        transform: translate(50.5em, -17em) rotate(0deg);
    }
}
.chess{
    transform: translate(50.5em, -17em) rotate(90deg);
    transform-origin: bottom center;
    animation: chess-rise 1s 0.5s ease-out forwards;
    z-index: 0;
}

/*---------------------------------------------------------------------------------------------------*/

.running_line{
    display: flex;
    align-items: center;
    background-color: #F54932;
    width: 2,335px;
    height: 60pxpx;
    top: -1549px;
    left: -2972px;
    padding: 10px 12px;
    white-space: nowrap;
    overflow: hidden;

}
.running_content{
    font-family: Merriweather;
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    font-weight: 400;
    text-align: right;
    animation: run 30s linear infinite;
}
@keyframes run {
    from {
       transform: translateX(-190px);
    }
    to {
       transform: translateX(-2305px);
    }
 }

 .middle_content{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 1366px;
 }

 .first_part{
     display: flex;
     align-items: center;
     margin: 80px 72px 64px 72px;
     justify-content: space-between;
    }

 .lecture{
    max-width: 764px;
    font-family: Merriweather;
    font-size: 36px;
    font-weight: 400;
    line-height: 48.6px;
    text-align: left;
    text-transform: uppercase;
 }

 .lecture a{
    font-weight: 700;
    color: #F54932;
    text-decoration: none;
 }

 .second_part{
    display: flex;
    width: 100%;
    max-height: 527px;
    justify-content: center;
 }

 .explosive_photo img{
    display: flex;
    margin-right: 17px;
    transform: translate(0, -2em);
 }

 .table_content{
    max-width: 704px;
 }

 .table_title{
    font-family: Merriweather;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
    line-height: 48.6px;
    text-align: left;
 }

 .table_title a{
    font-weight: 700;
    color: #F54932;
    text-decoration: none;
 }

 .table{
    margin: 60px 0 48px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
 }


 .table div:nth-child(odd):not(:nth-child(1)):not(:nth-child(9)) {
    font-family: Golos Text;
    padding: 16px 16px 16px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #313131;
    opacity: 70%;
    border-right: 1px solid grey;
    border-bottom: 2px solid grey;
}

.table div:nth-child(even):not(:nth-child(2)):not(:nth-child(10)) {
    font-family: Golos Text;
    padding: 16px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    border-left: 1px solid rgba(128, 128, 128, 0.7);
    border-bottom: 2px solid rgba(128, 128, 128, 0.7);
}

.table div:nth-child(1){
    font-family: Golos Text;
    padding: 0 16px 16px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #313131;
    opacity: 70%;
    border-right: 1px solid grey;
    border-bottom: 2px solid grey;
}
.table div:nth-child(9){
    font-family: Golos Text;
    padding: 16px 16px 0 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #313131;
    opacity: 70%;
    border-right: 1px solid grey;
}
.table div:nth-child(10){
    font-family: Golos Text;
    padding: 16px 0 0 16px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #313131;
    border-left: 1px solid rgba(128, 128, 128, 0.7);
}

.table div:nth-child(10) span{
    text-decoration: line-through;
    text-decoration-color: red;
    padding-right: 12px;
}

.table div:nth-child(2){
    font-family: Golos Text;
    padding: 0 16px 16px 16px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    border-left: 1px solid rgba(128, 128, 128, 0.7);
    border-bottom: 2px solid rgba(128, 128, 128, 0.7);
}

.link a{
    font-family: Golos Text;
    color: #3057A2;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
}

.stages{
    display: flex;
    flex-direction: column;
    max-width: 1222px;
    margin: 200px auto;

}

.stages_titles{
    display: flex;
    max-width: 806px;
}
.stage_title{
    display: inline-block;
    font-family: Merriweather;
    font-size: 54px;
    font-weight: 400;
    line-height: 64.8px;
    text-align: left;
    text-transform: uppercase;
}
.stage_title_wrapper{
    display: flex;
    align-items: center;
}
.stage_post_title{
    font-family: Golos Text;
    margin-left: 22px;
    max-width: 280px;
   
}
.stage_post_title a{
    color: #3057A2;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-transform: none;
}

.stages_field{
    display: grid;
    margin-top: 54px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 112px 112px 136px;
    grid-template-areas: 
                "a b c"
                "d e c"
                "f g g";
    gap: 20px;
}
.stages_field > div{
    display: flex;
    background-image: url(../img/paper.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.stage_number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    margin: 20px;
    border-radius: 50%;
    background-color: white;
    color: black;
    font-family: Golos Text;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}

.stage_text{
    display: block;
    margin: 20px 20px 20px 0px;
    max-width: 302px;
    font-family: Golos Text;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

#long{
    max-width: 446px;
}

.stage_1{
    grid-area: a;
}
.stage_2{
    grid-area: b;
}
.stage_3{
    grid-area: c;
}
.stage_4{
    grid-area: d;
}
.stage_5{
    grid-area: e;
}
.stage_6{
    grid-area: f;
}
.stage_7{
    grid-area: g;
    position: relative;
}

.plane{
    position: absolute;
    top: -6em;
    right: -4em;
}

.participants_box{
    display: flex;
    width: 100%;
    max-width: 1222px;
    margin: 0 auto;
    flex-direction: column;
}

.participants_title_box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.participants_title{
    font-family: Merriweather;
    font-size: 54px;
    font-weight: 400;
    line-height: 64.8px;
    text-align: left;
    text-transform: uppercase;
}

.participants_switcher{
    display: flex;
    align-items: center;
}

.participants_switcher button{
    background-color: black;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.participants_number{
    font-family: Golos Text;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #313131;
    margin: 0 14px;
}

.participants_number span{
    opacity: 60%;
}

.participants{
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin: 60px 0 140px 0;
    width: 100%;
    position: relative;
}

.participants_person_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 33.33%;
    box-sizing: border-box;
    padding: 10px;
    transition: transform 0.5s ease-in-out;
}

.participants_foto img{
    max-width: 100%;
    height: auto;
}

.participants_name{
    font-family: Golos Text;
    margin-top: 26px;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
}

.participants_description{
    font-family: Golos Text;
    margin-top: 6px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left; 
    opacity: 60%;
}

.detailes_button{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 35px;
    border-radius: 62px;
    border: 1px solid #3057A2;
}

.detailes_button a{
    font-family: Golos Text;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;
    color: #3057A2;
    text-decoration: none;
}

footer{
    background: #E9DED4;
    padding: 40px 72px 72px 72px;
}
.explanation{
    font-family: Golos Text;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    opacity: 60%;
}


/*----------Adaptation----------*/
/*Mobile devices*/
@media (min-width: 250px) and (max-width: 600px) {
    .title_box{
        height: 812px;
    }

    .logo{
        display: flex;
        position: absolute;
        width: 213px;
        height: 32px;
        top: 1.125em;
        left: 1.25em;
    }

    @keyframes rotate {
        from {
            transform: translate(0em, 15em) rotate(0deg) scale(0.45);
        }
        to {
            transform: translate(0em, 15em) rotate(360deg) scale(0.45);
        }
    }
    .circle {
        width: 50em;
        transform: translate(22em, 0em);
        animation: rotate 50s linear infinite;
    } 
    .city{
        transform: translate(-17.5em, 26.5em) scale(0.55);
        z-index: 9;
    }
    .border{
        transform: translate(-34.5em, 9.8em) scale(0.55);
        z-index: 9;
    }
    .horse{
        z-index: 9;
        transform: translate(19em, 6.55em) scale(0.55);
    }
    .pawn{
        display: none;
    }
    
    @keyframes queen-rise{
        from{
            transform: translate(15em, -3.5em) rotate(-90deg) scale(0.45);
        }
        to{
            transform: translate(15em, -3.5em) rotate(0deg) scale(0.45);
        }
    }
    .queen{
        transform: translate(29.5em, -10em) rotate(-90deg);
        transform-origin: bottom center;
        animation: queen-rise 1s ease-out forwards;
        z-index: 0;
    }
    
    @keyframes chess-rise{
        from{
            transform: translate(25em, -6.7em) rotate(90deg) scale(0.45);
        }
        to{
            transform: translate(24.8em, -6.7em) rotate(5deg) scale(0.45);
        }
    }
    .chess{
        transform: translate(50.5em, -17em) rotate(90deg);
        transform-origin: bottom center;
        animation: chess-rise 1s 0.5s ease-out forwards;
        z-index: 0;
    }

    .title_field{
        width: 350px;
        top: 1.55em;
        left: 32em;
    }
    .title{
        width: 335px;
    }
    
    .title h1 {
        font-size: 36px;
        font-weight: 400;
        line-height: 39.6px;
        margin: 0;
    }
    .buttons{
        height: 115px;
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .buttons button{
        display: block;
        box-sizing: border-box;
        width: 335px;
        padding: 14px 30px; 
        border: 2px solid black;
        border-radius: 66px;
        font-family: Golos Text;
        font-size: 16px;
        font-weight: 500;
        line-height: 20.8px;
        text-align: center;
    }
    .support button{
        background-color: black;
        color: white;
    }
    .tournament_info button{
        border: none;
        background-color: rgba(255, 255, 255, 0.9);
    }
    .post_title{
        width: 335px;
        font-size: 18px;
        font-weight: 400;
        line-height: 23.4px;
        text-align: left;
    }
    .running_content{
        font-size: 16px;
    }

    .middle_content{
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        max-width: 1366px;
     }
    
     .first_part{
         display: flex;
         flex-direction: column;
         align-items: center;
         margin: 48px 20px 34px 20px;
         justify-content: space-between;
        }
    
     .lecture{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 764px;
        font-family: Merriweather;
        font-size: 28px;
        font-weight: 400;
        line-height: 37.8px;
        text-align: left;
        text-transform: uppercase;
     }
    
     .lecture a{
        font-weight: 700;
        color: #F54932;
        text-decoration: none;
    }
    .mans_playing{
        width: 100%;
        padding: 2px 0;

    }

    .rounded_img {
        display: block;
        box-sizing: border-box;
        max-width: 95%;
        margin: 24px 0px;
        order: 1; 
    }

    .lecture > span {
        order: 2; 
    }

    .lecture #part1 {
        order: 1; 
    }

    .lecture #part2 {
        order: 3; 
    }
}
/*-Laptop*/
@media (min-width: 600px) and (max-width: 1100px) {
    .title_field{
        width: 400px;
        top: 8.75em;
        left: 15.5em;
    }
    .title{
        width: 400px;
    }
    
    .title h1 {
        font-size: 40px;
        line-height: 44px;
    }
    .buttons{
        height: 140px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .buttons button{
        display: block;
        box-sizing: border-box;
        width: 263px;
        padding: 10px 50px; 
        border: 2px solid black;
        border-radius: 66px;
        font-family: Golos Text;
        font-size: 16px;
        font-weight: 500;
        line-height: 20.8px;
        text-align: center;
    }
    .support button{
        background-color: black;
        color: white;
    }
    .tournament_info button{
        background-color: transparent;
    }
    .post_title{
        width: 400px;
        font-size: 16px;
        line-height: 18px;
        margin-top: 12px;
    }
    .lecture{
        font-size: 25px;
        line-height: 35px;
     }
     .mans_playing{
        max-width: 250px;
     }
}