body{
    padding: 0;
    margin: 0;
}

.logo{
    display: flex;
    position: absolute;
    top: 1.6em;
    left: 4.5em;
}

.top_wrapper{
    max-width: 1366px;
}

.title_box{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: #E9DED4;
    background-image: url(../img/background.png);
}

.title span {
    z-index: 10;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    margin: 0 5px;
}

.background {
    position: relative;
    width: 100%;
    height: 700px;
}

.background_element {
    position: absolute;
    height: auto;
    bottom: 0;
    left: 20%;
}

.texture{
    opacity: 13%;
    z-index: 1;
}

/*-Animation of a running line on a circle-*/
@keyframes rotate {
    from {
        transform: translate(22em, 0em) rotate(0deg);
    }
    to {
        transform: translate(22em, 0em) rotate(360deg);
    }
}
.circle {
    width: 50em;
    transform: translate(22em, 0em);
    animation: rotate 50s linear infinite;
}



.city{
    transform: translate(-6em, 17em);
    z-index: 9;
}

.border{
    transform: translate(-23.4em, 0.1em);
    z-index: 9;
}

.horse{
    z-index: 9;
    transform: translate(36em);
}
.pawn{
    z-index: 9;
    transform: translate(61em, -1em);
}

/*-----------Animation for queen-----------*/
@keyframes queen-rise{
    from{
        transform: translate(29.5em, -10em) rotate(-90deg);
    }
    to{
        transform: translate(29.5em, -10em) rotate(0deg);
    }
}
.queen{
    transform: translate(29.5em, -10em) rotate(-90deg);
    transform-origin: bottom center;
    animation: queen-rise 1s ease-out forwards;
    z-index: 0;
}


/*-----------Animation for ches-----------*/
@keyframes chess-rise{
    from{
        transform: translate(50.5em, -17em) rotate(90deg);
    }
    to{
        transform: translate(50.5em, -17em) rotate(0deg);
    }
}
.chess{
    transform: translate(50.5em, -17em) rotate(90deg);
    transform-origin: bottom center;
    animation: chess-rise 1s 0.5s ease-out forwards;
    z-index: 0;
}


/*----------Adaptation----------*/
/*Mobile devices*/
@media (min-width: 250px) and (max-width: 600px) {
    .title_box{
        height: 812px;
    }

    @keyframes rotate {
        from {
            transform: translate(0em, 15em) rotate(0deg) scale(0.45);
        }
        to {
            transform: translate(0em, 15em) rotate(360deg) scale(0.45);
        }
    }
    .circle {
        width: 50em;
        transform: translate(22em, 0em);
        animation: rotate 50s linear infinite;
    }
    
    .city{
        transform: translate(-17.5em, 26.5em) scale(0.55);
        z-index: 9;
    }
    
    .border{
        transform: translate(-34.5em, 9.8em) scale(0.55);
        z-index: 9;
    }
    
    .horse{
        z-index: 9;
        transform: translate(19em, 6.55em) scale(0.55);
    }
    
    .pawn{
        display: none;
    }
    
    @keyframes queen-rise{
        from{
            transform: translate(15em, -3.5em) rotate(-90deg) scale(0.45);
        }
        to{
            transform: translate(15em, -3.5em) rotate(0deg) scale(0.45);
        }
    }
    .queen{
        transform: translate(29.5em, -10em) rotate(-90deg);
        transform-origin: bottom center;
        animation: queen-rise 1s ease-out forwards;
        z-index: 0;
    }
    
    @keyframes chess-rise{
        from{
            transform: translate(25em, -6.7em) rotate(90deg) scale(0.45);
        }
        to{
            transform: translate(24.8em, -6.7em) rotate(5deg) scale(0.45);
        }
    }
    .chess{
        transform: translate(50.5em, -17em) rotate(90deg);
        transform-origin: bottom center;
        animation: chess-rise 1s 0.5s ease-out forwards;
        z-index: 0;
    }
}